---
layout: default
---

<div class="container mx-auto my-12">
  <section class="w-full flex flex-wrap py-6 justify-between">
    <main class="w-full md:w-2/3 flex flex-col items-center">
        {{ content }}
    </main>
    {% include sidebar %}
  </section>
</div>
