<aside class="w-1/4 mb-3 text-base my-4">
    {% if site.author_bio and site.author_name %}
    <section class="border-l border-gray-200 mb-2">
      <h3 class="font-serif text-gray-600 text-base tracking-wider uppercase pb-1">
        About {{ author_name }}
      </h3>
      <p class="font-sans text-sm leading-normal">
        {{ site.author_bio }}
      </p>
    </section>
    {% endif %}

    {% assign latest_posts = collections.posts | reverse %}

    <hr class="bg-gray-800 my-6"/>
    <section class="mt-4">
      <h3 class="text-gray-700 text-sm tracking-wide uppercase">Latest Posts</h3>
      <ul class="list-none p-1">
        {% for post in latest_posts limit:5%}
          <li class="mb-4">
            <a class="text-gray-800 hover:text-gray-800 no-underline" href="">
              {{post.data.title}}
            </a>
            <span class="text-red-800 block text-xs tracking-wide uppercase">
              {{ post.data.date | date: "%B %e %Y" }}
            </span>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="w-full bg-white shadow flex flex-col my-4">
    <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="https://rispov.us1.list-manage.com/subscribe/post?u=13365608ae5ea50c791198458&amp;id=4df021b8f7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL" class="text-xl font-semibold pb-5">Newsletter</label>
            <p class="pb-2">Join my fresh, new and hot running newsletter. Be first to get a message when a post is up and share your thoughts, invite friend 
            </p>
            <input type="email" value="" name="EMAIL" class="border-b-2 border-gray-200 focus:border-gray-900 focus:border-2" id="mce-EMAIL" placeholder="Email ..." required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_13365608ae5ea50c791198458_4df021b8f7" tabindex="-1" value="">
            </div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="w-full bg-red-800 text-white font-bold text-sm uppercase rounded hover:bg-blue-700 flex items-center justify-center px-2 py-3 mt-4">
            </div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </section>


</aside>
